<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Notes</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!-- Sidebar -->
    <aside class="sidebar">
        <div class="logo">
            <img src="https://framerusercontent.com/images/pL2vwGqbZlaEGRev1OpCd6aKRk.png?width=1031&height=316" alt="Sensore by Graphene Trace">
        </div>

        <nav>
            <a class="nav-item active" >Patient Overview</a>
            <a class="nav-item" asp-area="" asp-controller="Patient" asp-action="DoctorNotes">Doctor’s Notes</a>
        </nav>

        <div class="bottom-links">
            <a class="nav-item" asp-area="" asp-controller="Home" asp-action="Index">Log Out</a>
        </div>
    </aside>

    <!-- Main Content -->
    <main class="content">

        <div class="top-bar"></div>

        <h1 class="page-title">Patient Overview</h1>

</body>
</html>