@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="nav-item" asp-area="" asp-controller="Patients" asp-action="PatientOverview">Patient</a>
</div>
