@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Doctor>
<hs>Manage Doctors</hs>
<ul>
    @foreach (var doctor in Model)
    {
        <li>@doctor.FirstName @doctor.LastName - @doctor.Email</li>
    }
)
</ul>
