@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Patient>

<hs>Patient List</hs>

<ul>
    @foreach(var patient in Model)
    {
        <li>@patient.FirstName assigned to @patient.PrimaryDoctor</li>
    }
</ul>
<a asp-controller="Patients" asp-action="CreatePatient">Add Patient</a>